.DS_Store
.zshrc-export-path

/.config/*

!/.config/nvim
/.config/nvim/*
!/.config/nvim/init.vim
!/.config/nvim/coc-settings.json

!/.config/coc
/.config/coc/*
!/.config/coc/extensions
/.config/coc/extensions/*
!/.config/coc/extensions/*.json